/* =========================
   🎮 共用按鈕
========================= */

.gameButton{

    border:none;
    border-radius:15px;

    background:var(--main);

    color:white;

    cursor:pointer;

    transition:0.2s;

    font-weight:bold;
}

.gameButton:hover{

    transform:scale(1.05);

    background:var(--hover);
}

/* =========================
   ❌ 禁用
========================= */

.disabledButton{

    background:#8FA8A7;

    opacity:0.7;

    cursor:not-allowed;
}

.disabledButton:hover{

    transform:none;
}

/* =========================
   🏠 左右上按鈕
========================= */

.homeButton,
.backButton{

    position:fixed;

    top:15px;

    width:52px;
    height:52px;

    border:none;
    border-radius:50%;

    background:var(--dark);

    color:white;

    font-size:24px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    z-index:999;

    transition:0.2s;
}

.homeButton:hover,
.backButton:hover{

    transform:scale(1.1);

    background:#146865;
}

/* 左上 */
.leftBtn{

    left:15px;
}

/* 右上 */
.rightBtn{

    right:15px;
}

/* =========================
   📱 手機
========================= */

@media (max-width:600px){

    .homeButton,
    .backButton{

       width: 52px;
       height: 52px;
       font-size:22px;
    }

    .leftBtn{
        left:10px;
    }

    .rightBtn{
        right:10px;
    }

}
